<form [formGroup]="companyForm">
	<mat-form-field appearance="fill">
		<mat-label>Id</mat-label>
		<input matInput placeholder="ID" formControlName="id" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input matInput placeholder="Name" formControlName="name" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Employee Count</mat-label>
		<input matInput placeholder="Employee Count" formControlName="empcount" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Revenue</mat-label>
		<input matInput placeholder="Revenue" formControlName="revenue" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Address</mat-label>
		<input matInput placeholder="Address" formControlName="address" />
	</mat-form-field>
</form>
